/* generale */
*{
    box-sizing: border-box;
}

/* logo e intestazione */
.logo-title{
    padding: 0 1%;

}
.title{
    display: inline-block;
    vertical-align: 15px;

}

/*  corpo dell'app  */

.body-home{
   background-color: rgb(150, 150, 150);
    
    
}

.conteiner{
   width: 75%;
   margin: auto ;
   background-color: white;
   border-radius: 5px;
   
   
 
}

/* azioni possibili */

.actions{
    padding-top: 1%;
    padding-left: 10%;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: grey;


}

.button-1{}



/* liste */
    
.list{
    margin-top: 3%;
    margin-left: 10% ;
    }
    
    /* nuovi */
    .new{
        
        
    }

    .type-edit{
        font-size: 12px;
        background-color: cornflowerblue;
        border-radius: 5px;
        padding: 0 5px;
    }
    
    /* da fare oggi */
    .type-goals{
        font-size: 12px;
        background-color: rgb(213, 92, 213);
        border-radius: 5px;
        padding: 0 5px;
    }
    .type-rec{
        font-size: 12px;
        background-color: rgb(74, 212, 91);
        border-radius: 5px;
        padding: 0 5px;
    }
    .type-mobile{
        font-size: 12px;
        background-color: rgb(237, 159, 100);
        border-radius: 5px;
        padding: 0 5px;
    }


    /* prossimi */
    .type-web{
        font-size: 12px;
        background-color: rgb(237, 100, 203);
        border-radius: 5px;
        padding: 0 5px;
    }
    .type-sales{
        font-size: 12px;
        background-color: rgb(0, 255, 72);
        border-radius: 5px;
        padding: 0 5px;
    }
  